<%= render "layouts/toast" %>
<div class="container">
  <div class="section no-pad-bot" id="index-banner">
    <br><br>
    <h1 class="header center black-text">asoviva!</h1>
    <div class="row center grey-text darken-2 light container">
      <p>asovivaは気軽に遊び相手を見つけるサービスです。</p>
      <p>ホニャホニャホニャホニャホニャホニャホニャホニャホニャホニャホニャ！</p>
    </div>
    <div class="row center">
      <%= link_to 'はじめる！', posts_path, class: 'btn-large waves-effect waves-light indigo', id: "start_btn" %>
    </div>
    <p class="separator-text row">または</p>
    <div class="row"></div>
    <div class="row center">
      <%= link_to 'メールアドレスでログイン', new_user_session_path, class: "btn-long waves-effect waves-light amber darken-1" %>
    </div>
    <div class="row center">
      <%= link_to 'Googleでログイン', user_google_omniauth_authorize_path, class: "btn-long waves-effect waves-light red darken-4" %>
    </div>
    <div class="row center">
      <%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path, class: "btn-long waves-effect waves-light blue" %>
    </div>
    <div class="row"></div>
  </div>
</div>
