<%= render "layouts/toast" %>
<div class="container">
  <h3>アカウント設定</h3>

  <% unless current_user.provider? %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password %> <i>(変更しない場合、空のままでOK)</i>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上必須" %>
        </div>
      </div>

      <div class="row">
        <div class="input-feild col s12">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="actions row">
        <div class="input-field col s12">
          <%= f.submit '更新', class: "btn wave-effect waves-light amber darken-1" %>
        </div>
      </div>
    <% end %>


  <h4>アカウント削除</h4>

  <% end %>
  <div class="row fix-pb">
    <p>アカウント削除は <%= button_to "こちら", registration_path(resource_name), data: { confirm: "アカウントを削除します。よろしいですか？" }, method: :delete, class: "btn wave-effect waves-light red", id: "delete_btn" %></p>

    <%= link_to "戻る", :back %>
  </div>
</div>
