<%= render "layouts/toast" %>
<div class="container">
  <h3>新規登録</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="input-field col s6">
        <%= f.select :area, options_for_select(User.areas.keys) %>
        <%= f.label :area %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上必須" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions row">
      <div class="input-field col s12">
        <%= f.submit '登録', class: "btn wave-effect waves-light amber darken-1" %>
      </div>
    </div>
  <% end %>

  <div class="fix-pb">
    <%= render "devise/shared/links" %>
  </div>
</div>
