<h3>ログイン</h3>
<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col12">
      <%= f.label :remember_me do %>
      <%= f.check_box :remember_me, id: "user_remember_me" %>
      <span>次回から自動的にログイン</span>
      <% end %>
    </div>
  </div>

  <div class="actions row fix-mt">
    <div class="input-field col 12">
      <%= f.submit 'ログイン', class: "btn wave-effect waves-light amber darken-1" %>
    </div>
  </div>
<% end %>
