<div class="container fix-pb">
  <div class="row">
    <div class="flex fix-mb">
      <div class="fix-mr">
        <p class="grey-text">フォロー中</p>
        <div class="switch">
          <label>
            オフ
            <input type="checkbox" id="follows_checkbox">
            <span class="lever" id="follows_switch"></span>
            オン
          </label>
        </div>
      </div>
      <div>
        <p class="grey-text">フォロワー</p>
        <div class="switch">
          <label>
            オフ
            <input type="checkbox" id="followers_checkbox">
            <span class="lever" id="followers_switch"></span>
            オン
          </label>
        </div>
      </div>
    </div>
    <%= link_to 'フォロー中', follows_users_path, method: :post, class: "hidden_link", id: 'follows_link', remote: true %>
    <%= link_to 'フォロワー', followers_users_path, method: :post, class: "hidden_link", id: 'followers_link', remote: true %>
    <%= link_to '相互フォロー', mutual_follow_users_path, method: :post, class: "hidden_link", id: 'mutual_followers_link', remote: true %>
    <%= link_to '絞り込み解除', users_path, class: "hidden_link", id: 'all_users_link', remote: true %>
  </div>
  <div class="cards-container" id="users">
    <% unless @users.empty? %>
    <%= render partial: 'users/users_cards', collection: @users, as: :user %>
    <% else %>
    <p>まだユーザーがいません</p>
    <% end %>
  </div>
</div>
