<div class="cards-container container">
  <% unless @users.empty? %>
  <% @users.each do |user| %>
    <div class="card-container_user">
        <div class="card">
          <%= render partial: 'users/follow_btn', locals: { user: user } %>
          <div class="card-content">
            <%= link_to user do %>
            <span class="card-title black-text">
              <div class="name-icon_box_user">
                <%= image_tag user.user_icon, class: "icon_users" %>
                <div class="users_box">
                  <span class="users_name"><%= user.name %></span>
                  <p class="users_area_text grey-text"><%= user.area %></p>
                </div>
              </div>
            </span>
            <% end %>
            <p class="black-text">
              <p><%= user.profile.presence || 'プロフィールが設定されていません' %></p>
            </p>
          </div>
        </div>
    </div>
  <% end %>
  <% else %>
  <p>まだユーザーがいません</p>
<% end %>
</div>
