<div class="cards-container container">
  <% unless @users.empty? %>
  <% @users.each do |user| %>
    <div class="card-container_user">
        <div class="card">
          <% if !current_user?(user) %>
            <% if user.followed_by?(current_user) %>
              <div class="chip chip_position white-text grey">
                  <%= link_to 'フォロー中', user_relationships_path(user.id), method: :delete, class: "white-text" %>
              </div>
            <% else %>
            <div class="chip chip_position white-text indigo">
                <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class: "white-text" %>
            </div>
            <% end %>
          <% end %>
          <div class="card-content">
            <%= link_to user do %>
            <span class="card-title black-text">
              <div class="name-icon_box_user">
                <%= image_tag user.user_icon, class: "icon_users" %>
                <div class="users_box">
                  <span class="users_name"><%= user.name %></span>
                  <p class="users_area_text grey-text"><%= user.area %></p>
                </div>
              </div>
            </span>
            <% end %>
            <p class="black-text">
              <p><%= user.profile.presence || 'プロフィールが設定されていません' %></p>
            </p>
          </div>
        </div>
    </div>
  <% end %>
  <% else %>
  <p>まだユーザーがいません</p>
</div>
<% end %>
