<%= render "layouts/toast" %>
<%= render "posts/fixedbutton" %>
<div class="container fix-pb">
  <div class="name-icon_box_user show_user">
    <div>
      <h3><%= @user.name %></h3>
      <p class="grey-text user_area_text">エリア：<%= @user.area %></p>
      <%= render partial: 'users/follow_btn', locals: { user: @user } %>
    </div>
    <%= image_tag @user.user_icon, class: "icon_user" %>
  </div>
  <p class="user_profile_text"><%= @user.profile.presence || 'プロフィールが設定されていません' %></p>
  <% if current_user?(@user) %>
    <%= link_to 'プロフィールを編集する', edit_user_path, class: "btn indigo" %>
  <% end %>
  <% if not @user.posts.empty? %>
    <h5><%= @user.name %>の投稿一覧</h5>
    <div class="cards-container">
      <%= render partial: "posts/posts_cards", locals: { posts: @user.posts, bool: false } %>
    </div>
  <% else %>
    <p>まだ投稿がありません</p>
  <% end %>
  <% if current_user?(@user) %>
    <h5><%= @user.name %>のキープした投稿一覧</h5>
    <div class="cards-container fix-mb">
      <%= render partial: "posts/posts_cards", locals: { posts: @user.stocking_posts, bool: true } %>
    </div>
    <div class="row">
      <%= link_to "戻る", :back %>
    </div>
  </div>
  <% end %>

</div>
