<div class="container">
  <h3>パスワード変更</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions row">
      <div class="input-field col s12">
        <%= f.submit 'パスワード変更', class: "btn wave-effect waves-light amber darken-1" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
