<div id="comments-form_<%= post.id %>">
  <% if user_signed_in? %>
    <% if post.commented_by?(current_user) %>
      <a class="waves-effect waves-light btn-large modal-trigger grey comment-btn">リクエスト済み</a>
    <% else %>
    <a class="waves-effect waves-light btn-large modal-trigger indigo comment-btn" href="#modal1">行きたい！</a>
    <p class="red-text">※「行きたいリクエスト」は一度送るとキャンセル、修正が出来ません。<br>
    このリクエストは相手にしか見えません。</p>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <%= form_with model: @comment, url: post_comments_path(post.id), class: "col s12", local: true, method: :post do |f| %>
        <div class="row">
          <p>コメント欄（任意）</p>
          <div class="input-field col s12">
            <%= f.text_area :body, class: 'validate materialize-textarea', id: 'input_name', rows: 2, :'data-length' => 15  %>
            <%= f.label :body %>
          </div>
          <%= f.submit '送信する', class: "btn-large wave-effect waves-light amber darken-1" %>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
<a class="waves-effect waves-light btn-large modal-trigger indigo comment-btn" href="#modal1">行きたい！</a>
<div id="modal1" class="modal">
  <div class="container">
    <%= render 'devise/shared/login_form' %>

    <div class="fix-pb">
        もしくは<%= link_to "新規登録", new_user_registration_path %><br />
パスワードを忘れた方は<%= link_to "こちら", new_user_password_path %><br />
</div>
</div>
</div>
<% end %>
</div>
