<div class="card-container_post">
  <div class="col s12">
    <div class="card">
      <%= render partial: 'posts/stock_btn', locals: {post: post} %>
      <div class="chip chip_position white-text <%= post.category_color %>"><%= post.category_i18n %></div>
      <div class="card-content">
        <% @contents = capture do %>
        <div class="name-icon_box_post">
          <%= image_tag post.user.user_icon, class: "icon_post" %><p class="black-text"><%= post.user.name %></p>
        </div>
        <% end %>
        <%= link_to_if bool, @contents, user_path(post.user) %>
        <% if post.image.attached? %>
          <%= image_tag post.image %>
        <% end %>
        <%= link_to post do %>
        <span class="card-title black-text <%= post.long_title_class %>">
          <%= post.name %><span class="title-suffix">に行きたい！</span>
        </span>
        <p class="black-text">
          <%= post.description_digest.presence || 'とりあえず遊びたーい' %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
