<div class="fixed-action-btn">
  <a class="waves-effect waves-light modal-trigger btn-floating btn-large red" href="#create_post"><i class="large material-icons">mode_edit</i></a>
</div>
<div id="calender"></div>
<div id="create_post" class="modal">
  <div class="modal-content">
    <h4>新規投稿</h4>
    <div class="row">
      <%= form_with class: "col s12", model: @post do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name, id: "name" %>
          <%= f.label :name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea",  rows: 5 %>
          <%= f.label :description %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :date, class: "datepicker" %>
          <%= f.label :date %>
        </div>
        <div class="input-field col s6">
          <%= f.select :post, options_for_select(Post.areas) %>
          <%= f.label :area %>
        </div>
      </div>
      <%= f.submit '行きたい！', class: "btn-large wave-effect waves-light amber darken-1" %>
      <% end %>
    </div>
  </div>
</div>
</div>
