<%= render "fixedbutton" %>
<%= render "post_errors_toast" %>
<%= render "layouts/toast" %>

<div class="container">
  <div class="cards-container">
    <% unless @posts.empty? %>
    <%= render partial: "posts_cards", locals: { posts: @posts } %>
    <% else %>
    <p>まだ投稿がありません</p>
  </div>
  <% end %>
</div>
  <div class="pagenation-height">
    <%= paginate @posts %>
  </div>
</div>
