<div class="fixed-action-btn">
  <a class="waves-effect waves-light modal-trigger btn-floating btn-large red" href="#create_post"><i class="large material-icons">mode_edit</i></a>
</div>
<div id="calender"></div>
<div id="create_post" class="modal">
  <div class="modal-content">
    <h4>新規投稿</h4>
    <div class="row">
      <%= form_with url: posts_path, class: "col s12", local: true, model: @post do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name, class: 'validate', id: 'input_name', :'data-length' => 20  %>
          <%= f.label :name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea", id: 'area_description',  rows: 5, :'data-length' => 140 %>
          <%= f.label :description %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :date, class: "datepicker" %>
          <%= f.label :date %>
        </div>
        <div class="input-field col s6">
          <%= f.number_field :count %>
          <%= f.label :count %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.select :area, options_for_select(Post.areas.keys) %>
          <%= f.label :area %>
        </div>
      </div>
      <%= f.submit '行きたい！', class: "btn-large wave-effect waves-light amber darken-1" %>
      <% end %>
    </div>
  </div>
</div>
</div>
