<% if @post.image.attached? %>
  <% set_meta_tags title: @post.name, og: { title: @post.name, type: 'article', image: rails_representation_url(@post.image.variant(resize: "150"), only_path: true) } %>
<% end %>
<%= render "layouts/toast" %>
<div class="container fix-pb post_show_container">
  <div class="name-icon_box_post post_show">
    <div>
      <div class="chip chip_position white-text <%= @post.category_color %>"><%= @post.category_i18n %></div>
      <% @contents = capture do %>
      <div class="name-icon_box_post">
        <%= image_tag @post.user.user_icon, class: "icon_post" %><p class="black-text"><%= @post.user.name %></p>
      </div>
      <% end %>
      <%= link_to @contents, user_path(@post.user) %>
      <div class="container">
        <% if @post.image.attached? %>
          <%= image_tag @post.image %>
        <% end %>
      </div>
      <h3 class="post_title"><%= @post.name %><span class="title-suffix">に行きたい</span></h3>
      <div class="stock_show">
        <%= render partial: 'posts/stock_btn', locals: {post: @post} %>
      </div>
    </div>
  </div>
  <div class="show_container fix-pb">
    <p class="indigo-text"><%= Post.human_attribute_name(:description) %></p>
    <p><%= @post.description.presence || 'とりあえず遊びたーい' %></p>
    <ul class="collection">
        <li class="collection-item flex"><span class="collection_title grey-text"><%= Post.human_attribute_name(:date) %></span><span class="collection_content"><%= @post.date %></span></li>
        <li class="collection-item flex"><span class="collection_title grey-text"><%= Post.human_attribute_name(:area_i18n) %></span><span class="collection_content"><%= @post.area_i18n %></span></li>
        <li class="collection-item flex"><span class="collection_title grey-text"><%= Post.human_attribute_name(:count) %></span><span class="collection_content"><%= @post.count %>人</span></li>
      </ul>
      <% if not current_user?(@post.user) %>
        <%= render partial: 'posts/comment_btn', locals: { post: @post, user: @post.user } %>
      <% else %>
      <div class="flex edit_btns">
        <div>
          <%= link_to '編集する', edit_post_path(@post), class: "waves-effect waves-light btn amber darken-1" %>
        </div>
        <div>
          <%= link_to '削除する', @post, method: :delete, data: { confirm: "#{@post.name}に行く予定を削除します。よろしいですか？"}, class: "waves-effect waves-light btn red" %>
        </div>
      </div>
      <% end %>
  </div>
  <% if user_signed_in? %>
  <% if @post.commented_by?(current_user) %>
    <div class="row">
      <%= render partial: 'comments_cards', collection: @post.commented_by(current_user), as: :comment  %>
    </div>
  <% elsif current_user?(@post.user) %>
    <div class="row">
      <%= render partial: 'comments_cards', collection: @post.comments, as: :comment %>
    </div>
  <% end %>
  <% end %>

  <div class="row">
    <%= link_to "戻る", :back %>
  </div>
</div>
