<div class="container">
  <div class="card white">
    <% if current_user.id == @post.user.id %>
    <div class="fixed-action-btn_menu">
      <a id="post_menu_btn" class="btn-floating halfway-fab forshow waves-effect waves-light green"><i class="material-icons">menu</i></a>
      <ul>
        <li>
        <%= link_to edit_post_path(@post), class: "btn-floating red" do %>
          <i class="material-icons">edit</i>
        <% end %>
      </li>
      <li>
        <%= link_to @post, method: :delete, data: { confirm: "#{@post.name}に行く予定を削除します。よろしいですか？"}, class: "btn-floating yellow" do %>
          <i class="material-icons">delete</i>
        <% end %>
      </li>
      </ul>
    </div>
    <% end %>
    <div class="card-content">
      <span class="card-title <%= @post.long_title_class %>"><%= @post.name %><span class="title-suffix">に行きたい！</span></span>
      <p><%= Post.human_attribute_name(:deadline) %>:<%= @post.deadline.to_s(:ymd) %></p>
      <p><%= Post.human_attribute_name(:count) %>:<%= @post.count_about %></p>

    </div>
    <div class="card-action white-text <%= @post.category_color %>">
      <p class="amber-text darken-4">詳しい内容</p>
      <p><%= @post.description.presence || 'とりあえず遊びたーい' %></p>
    </div>
  </div>
</div>
