<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="amber darken-1" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to 'asoviva!', root_path, id: "logo-container", class: "brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to '投稿一覧', posts_path %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to 'ユーザー一覧', users_path %>
          </li>
          <li>
            <%= link_to 'イベントを探す', events_path %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'アカウント設定', edit_user_registration_path %>
          </li>
          <% else %>
          <li>
            <%= link_to 'ログイン', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'ユーザー登録', new_user_registration_path %>
          </li>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="sidenav">
          <li class="amber darken-1">
            <%= link_to 'asoviva!', root_path, class: "white-text" %>
          </li>
          <li>
            <%= link_to '投稿一覧', posts_path %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to 'ユーザー一覧', users_path %>
          </li>
          <li>
            <%= link_to 'イベントを探す', events_path %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'アカウント設定', edit_user_registration_path %>
          </li>
          <% else %>
          <li>
            <%= link_to 'ログイン', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'ユーザー登録', new_user_registration_path %>
          </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
        <ul class="right">
          <li>
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.user_icon, class: "user-icon" %>
            <% end %>
          </li>
          <% if controller.controller_name == 'posts' && controller.action_name == 'index' || controller.action_name == 'create' %>
          <li>
            <a href="#search_post" class="modal-trigger"><i class="material-icons">search</i></a>
          </li>
          <% end %>
        </ul>
        <% end %>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <%= yield %>

    <footer class="page-footer grey lighten-5 border-footer">
      <div class="container grey-text text-ligten-3 center footer-text light">
      Made by <a class="grey-text text-ligten-3" href="#">@t5a1r1ou</a>
      </div>
    </footer>
  </body>
</html>
